
@using ACCBILLING_NOTE.Models
<div id="ShntableArea" style=" background-color:#ffffff ; border:1px solid #000000; padding:15px;  margin-top:-140px;" class="col-8 scaled">
    <div style="padding-left:40px; padding-right:40px;">
        <div style="padding-left:35px; padding-right:35px;" class="table">
            <table class="table table-sm table-borderless">
                <tr style="font-size:30px; font-weight:900; ">
                    <td style="text-decoration-line:underline;">OGURA CLUTCH THAILAND CO.,LTD.</td>
                    <td><b id="textOriginal" style="font-size:16px;"></b></td>
                </tr>
                <tr></tr>
            </table>
        </div>
        <div style="padding-left:35px; padding-right:35px;" class="table">
            @foreach (InvoiceCus cus in (InvoiceCus[])ViewBag.cus)
            {
                <table class="table table-sm table-borderless" style="font-size:16px; margin-top:5px;">
                    <tr>
                        <td rowspan="2" style="word-wrap: break-word; max-width:40px;">@cus.custName <br /> @cus.custAdress</td>
                        <td style="width:200px;"></td>
                        <td style="width:70px;">No. :</td>
                        <td style="width:100px;"></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Date :</td>
                        <td>@DateTime.Now.Date.ToString("dd-MM-yyyy")</td>
                    </tr>

                    <tr>

                        <td>ATTAN:@cus.custAdressi</td>
                        <td></td>
                        <td></td>
                    </tr>

                    <tr style="font-size:15px;">
                        <td>Gentelman:</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr style="font-size:15px;">
                        <td>We are pleasef to enclose the following <br />each one price of invoice</td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
            }
        </div>


        <div style="padding-left:35px; padding-right:35px;" class="table">
            <table class="table table-borderless table-sm" id="tableOc">
                <thead style="border-bottom:1px solid #000000">
                    <tr>
                        <td align="center" colspan="4 "><h2>-Collection Statement -</h2></td>
                    </tr>
                    <tr style="font-size:16px;">

                        <td style="width:200px;">INVOICE NO</td>
                        <td align="center">INVOICE DATE</td>
                        <td align="center" onclick="editCur(this)">AMOUNT (THB)  </td>
                        <td align="center" onclick="editDate(this)">DUE DATE </td>

                    </tr>

                </thead>
                <tbody style="border-bottom:1px solid #000000">
                    @*@{ var a = 1;}*@

                    @foreach (Invoice v in (Invoice[])ViewBag.data)
                    {

                        <tr style="font-size:15px;">


                            <td>@v.invoiceNo</td>
                            <td align="center">@v.invoiceDate</td>
                            <td align="right">@v.invoiceAm2Cal</td>
                            <td align="center" >@v.invoiceDue</td>


                        </tr>
                        //a++;
                    }


                    @{
                        for (var i = ViewBag.datacount + 1; i <= 15; i++)
                        //for (var i = 1; i <= 15; i++)
                        {
                            <tr style="font-size:15px; ">

                                <td>&nbsp;</td>
                                <td></td>
                                <td></td>
                                <td></td>


                            </tr>
                        }



                    }

                </tbody>
                <tr>

                    <td>TOTAL AMOUNT :</td>
                    <td colspan="4" align="center">@ViewBag.calAm2</td>
                </tr>

            </table>

        </div>
        <div style="padding-left:35px; padding-right:35px;" class="table">
            <table class="table table-sm table-borderless" style="font-size:15px;" id="taBank">
                <tbody >
                    <tr>
                        <td>TRANFER BANK:</td>
                        <td style="width:320px;"></td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>ACC.NO. :</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>BRANCH :</td>
                        <td>Your very truly,</td>
                    </tr>
                    <tr>
                        <td>SWIFT CODE :</td>
                        <td><b>OGURA CLUTCH THAILAND CO.,LTD.</b></td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td></td>
                    </tr>

                    <tr>
                        <td>&nbsp;</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td style="border-bottom:1px solid #000000"></td>
                    </tr>
                </tbody>    
            </table>

        </div>
    </div>
</div>

<div id="printableArea" style=" background-color:#ffffff ; border:1px solid #000000; padding:15px; display:none" class="col-12">
    <div style="padding-left:20px; padding-right:20px; margin-top:90px;">
        <div style="padding-left:20px; padding-right:20px;" class="table">
            <table class="table table-sm table-borderless">
                <tr style="font-size:40px; font-weight:800; ">
                    <td style="text-decoration-line:underline;">OGURA CLUTCH THAILAND CO.,LTD.</td>
                    <td><b id="textOriginalP" style="font-size:16px;"></b></td>
                </tr>
                <tr></tr>
            </table>
        </div>
        <div style="padding-left:20px; padding-right:20px;" class="table">
            @foreach (InvoiceCus cus in (InvoiceCus[])ViewBag.cus)
            {
                <table class="table table-sm table-borderless" style="font-size:17px; margin-top:5px;">
                    <tr>
                        <td rowspan="2" style="word-wrap:break-word; max-width:80px;">@cus.custName <br /> @cus.custAdress</td>
                        <td style="width:260px;"></td>
                        <td>No. :</td>
                        <td style="width:150px;"></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Date :</td>
                        <td>@DateTime.Now.Date.ToString("dd-MM-yyyy")</td>
                    </tr>

                    <tr>

                        <td>ATTAN:@cus.custAdressi</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>

                    <tr style="font-size:14px;">
                        <td>Gentelman:</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr style="font-size:14px;">
                        <td>We are pleasef to enclose the following <br />each one price of invoice</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
            }
        </div>


        <div style="padding-left:20px; padding-right:20px;" class="table">
            <table class="table table-borderless table-sm" id="tableOP">
                <thead style="border-bottom:1px solid #000000">
                    <tr>
                        <td align="center" colspan="4 "><h2>-Collection Statement -</h2></td>
                    </tr>
                    <tr style="font-size:16px;">

                        <td style="width:200px;">INVOICE NO</td>
                        <td align="center">INVOICE DATE</td>
                        <td align="center">AMOUNT (THB)  </td>
                        <td align="center">DUE DATE </td>

                    </tr>

                </thead>
                <tbody style="border-bottom:1px solid #000000">
                    @*@{ var a = 1;}*@

                    @foreach (Invoice v in (Invoice[])ViewBag.data)
                    {

                        <tr style="font-size:16px;">


                            <td>@v.invoiceNo</td>
                            <td align="center">@v.invoiceDate</td>
                            <td align="right">@v.invoiceAm2Cal</td>
                            <td align="center">@v.invoiceDue</td>


                        </tr>
                        //a++;
                    }


                    @{
                        for (var i = ViewBag.datacount + 1; i <= 15; i++)
                        // for (var i = 1; i <= 15; i++)
                        {
                            <tr style="font-size:16px; ">

                                <td>&nbsp;</td>
                                <td></td>
                                <td></td>
                                <td></td>


                            </tr>
                        }



                    }

                </tbody>
                <tr>

                    <td>TOTAL AMOUNT :</td>
                    <td colspan="4" align="center">@ViewBag.calAm2</td>
                </tr>

            </table>

        </div>
        <div style="padding-left:20px; padding-right:20px;" class="table">
            <table class="table table-sm table-borderless" style="font-size:16px;" id="tban">
                <tbody>
                    <tr>
                        <td>TRANFER BANK:</td>
                        <td style="width:320px;"></td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>ACC.NO. :</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>BRANCH :</td>
                        <td>Your very truly,</td>
                    </tr>
                    <tr>
                        <td>SWIFT CODE :</td>
                        <td><b>OGURA CLUTCH THAILAND CO.,LTD.</b></td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td></td>
                    </tr>

                    <tr>
                        <td>&nbsp;</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td style="border-bottom:1px solid #000000"></td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>

<div class="col-3">
    <div class="table-responsive" style="margin-top:5px;">
        <table class="table table-sm table-bordered">
            <thead style="background-color:#5A6268; color:#ffffff">
                <tr>
                    <td align="right" colspan="2">
                        <input type="button" onclick="printDiv('printableArea')" value="PRINT" class="btn btn-sm btn-success" style="border-radius:0px; color:#ffffff" />
                    </td>
                </tr>
                <tr>
                    <td>




                        <select class="form-control form-control-sm" id="selectOriginal" onchange="changeOriginal();" style="border-radius:0px;">
                            <option selected>Form Contorl</option>
                            <option value="ORIGINAL">ORIGINAL</option>
                            <option value="COPY">COPY</option>
                        </select>
                    </td>

                </tr>
                <tr>

                    <td>
                        <select class="form-control form-control-sm" id="selectBank" onchange="bankChange();" style="border-radius:0px;">
                         @foreach (bankTranfer ban in (bankTranfer[])ViewBag.bankTr)
                         {
                            <option value="@ban.bId" >@ban.bNameEn</option>
                         }
                        </select>
                    </td>
                </tr>

            </thead>

        </table>


    </div>
</div>

<script>

    function bankChange() {

        var bankId = $("#selectBank").val();


      //  alert(bankId);

        var fileData = new FormData();
        fileData.append('id', bankId);
        $.ajax({
            url: '/Home/Export',
            type: "POST",
            contentType: false,
            processData: false,
            data: fileData,
            success: function (result) {
                $("#taBank tbody").remove();
                $("#tban tbody").remove();
                var item = '', rows, rowss;
                $.each(result, function (i, item) {

                    rows = "<tbody>                                       " +
                   " <tr>                                                 " +
                   "     <td>TRANFER BANK:</td>                           " +
                   "     <td style='width:320px;'></td>                   " +
                   " </tr>                                                " +
                   " <tr>                                                 " +
                   "     <td>" + item.bNameEn + "</td>                    " +
                   "     <td></td>                                        " +
                   " </tr>                                                " +
                   " <tr>                                                 " +
                   "     <td rowspan='2'>" + item.bAddressEn + "</td>     " +
                   "     <td></td>                                        " +
                   " </tr>                                                " +
                   " <tr>                                                 " +

                   "     <td></td>                                        " +
                   " </tr>                                                " +
                   " <tr>                                                 " +
                   "     <td>ACC.NO. :" + item.bAccNo + "</td>            " +
                   "     <td></td>                                        " +
                   " </tr>                                                " +
                   " <tr>                                                 " +
                   "     <td>BRANCH :" + item.bBranch + "</td>            " +
                   "     <td>Your very truly,</td>                        " +
                   " </tr>                                                " +
                   " <tr>                                                 " +
                   "     <td>SWIFT CODE :" + item.bSwiftCode + "</td>     " +
                   "     <td><b>OGURA CLUTCH THAILAND CO.,LTD.</b></td>   " +
                   " </tr>                                                " +
                   " <tr>                                                 " +
                   "     <td>&nbsp;</td>                                  " +
                   "     <td></td>                                        " +
                   " </tr>                                                " +
                   "                                                      " +
                   " <tr>                                                 " +
                   "     <td>&nbsp;</td>                                  " +
                   "     <td></td>                                        " +
                   " </tr>                                                " +
                   " <tr>                                                 " +
                   "     <td>&nbsp;</td>                                  " +
                   "     <td style='border-bottom:1px solid #000000'></td>" +
                   " </tr>                                                ";



                    rows += "</tbody>";

                    rowss = "<tbody>                                     " +
                  " <tr>                                                 " +
                  "     <td>TRANFER BANK:</td>                           " +
                  "     <td style='width:320px;'></td>                   " +
                  " </tr>                                                " +
                  " <tr>                                                 " +
                  "     <td>" + item.bNameEn + "</td>                    " +
                  "     <td></td>                                        " +
                  " </tr>                                                " +
                  " <tr>                                                 " +
                  "     <td rowspan='2'>" + item.bAddressEn + "</td>     " +
                  "     <td></td>                                        " +
                  " </tr>                                                " +
                  " <tr>                                                 " +

                  "     <td></td>                                        " +
                  " </tr>                                                " +
                  " <tr>                                                 " +
                  "     <td>ACC.NO. : " + item.bAccNo + "</td>           " +
                  "     <td></td>                                        " +
                  " </tr>                                                " +
                  " <tr>                                                 " +
                  "     <td>BRANCH : " + item.bBranch + "</td>           " +
                  "     <td>Your very truly,</td>                        " +
                  " </tr>                                                " +
                  " <tr>                                                 " +
                  "     <td>SWIFT CODE : " + item.bSwiftCode + "</td>    " +
                  "     <td><b>OGURA CLUTCH THAILAND CO.,LTD.</b></td>   " +
                  " </tr>                                                " +
                  " <tr>                                                 " +
                  "     <td>&nbsp;</td>                                  " +
                  "     <td></td>                                        " +
                  " </tr>                                                " +
                  "                                                      " +
                  " <tr>                                                 " +
                  "     <td>&nbsp;</td>                                  " +
                  "     <td></td>                                        " +
                  " </tr>                                                " +
                  " <tr>                                                 " +
                  "     <td>&nbsp;</td>                                  " +
                  "     <td style='border-bottom:1px solid #000000'></td>" +
                  " </tr>                                                ";



                    rowss += "</tbody>";





                    $("#taBank").append(rows);
                    $("#tban").append(rowss);
                });

            },
            error: function (err) {

            }
        });


    }

</script>