@{
    ViewBag.Title = "PULL REPORT";
}
@using ACCBILLING_NOTE.Models
<style>

    .scaled {
        transform: scale(0.75); /* Equal to scaleX(0.7) scaleY(0.7) */
    }
    #printableArea{

        font-family:'Browallia New';
    }
      .detec{
          height:40px !important;
    }
    .detec:hover{
/*background-color:#044CC5;*/
        border-left:10px solid #F2F2F2;
        /*border-right:10px solid #F2F2F2;*/
      
    }
</style>
<div class="container-fluid">
    <div class="row">
     
        <div id="ShntableArea" style=" background-color:#ffffff ; border:1px solid #000000; padding:15px;  margin-top:-140px;" class="col-8 scaled">
            <div style="padding-left:40px; padding-right:40px;">
                <div style="padding-left:35px; padding-right:35px;" class="table">
                    <table class="table table-sm table-borderless">
                        <tr style="font-size:30px; font-weight:900; ">
                            <td style="text-decoration-line:underline;">OGURA CLUTCH THAILAND CO.,LTD.</td>
                            <td><b id="textOriginal" style="font-size:16px;"></b></td>
                        </tr>
                        <tr></tr>
                    </table>
                </div>
                <div style="padding-left:35px; padding-right:35px;" class="table">
@foreach (InvoiceCus cus in (InvoiceCus[])ViewBag.cus)
                {
                    <table class="table table-sm table-borderless" style="font-size:16px; margin-top:5px;">
                        <tr>    
                            <td rowspan="2" style="word-wrap: break-word; max-width:40px;">@cus.custName <br /> @cus.custAdress</td>
                            <td style="width:200px;"></td>
                            <td style="width:70px;">No. :</td>
                            <td style="width:100px;"></td>
                        </tr>
                        <tr>
                           <td></td>
                            <td>Date :</td>
                            <td>@DateTime.Now.Date.ToString("dd-MM-yyyy")</td>
                        </tr>
                  
                        <tr>
                           
                            <td>ATTAN:@cus.custAdressi</td>
                            <td></td>
                            <td></td>
                        </tr>

                        <tr style="font-size:15px;">
                            <td>Gentelman:</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr style="font-size:15px;">
                            <td>We are pleasef to enclose the following <br />each one price of invoice</td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
}
                </div>


                <div style="padding-left:35px; padding-right:35px;" class="table">
                    <table class="table table-borderless table-sm" id="tableOc">
                        <thead style="border-bottom:1px solid #000000">
                            <tr>
                                <td align="center" colspan="4 "><h2>-Collection Statement -</h2></td>
                            </tr>
                            <tr style="font-size:16px;">

                                <td style="width:200px;">INVOICE NO</td>
                                <td align="center">INVOICE DATE</td>
                                <td align="center" onclick="editCur(this)">AMOUNT (THB)  </td>
                                <td align="center">DUE DATE </td>

                            </tr>

                        </thead>
                        <tbody style="border-bottom:1px solid #000000">
                            @*@{ var a = 1;}*@

                            @foreach (Invoice v in (Invoice[])ViewBag.data)
                            {

                                <tr style="font-size:15px;">


                                    <td>@v.invoiceNo</td>
                                    <td align="center">@v.invoiceDate</td>
                                    <td align="right">@v.invoiceAm2Cal</td>
                                    <td align="center" onclick="editDate(this)">@v.invoiceDue</td>


                                </tr>
                                //a++;
                            }


                            @{
                                for (var i = ViewBag.datacount + 1; i <= 15; i++)
                                 //for (var i = 1; i <= 15; i++)
                                {
                                    <tr style="font-size:15px; ">

                                        <td>&nbsp;</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>


                                    </tr>
                                }



                            }

                        </tbody>
                        <tr>

                            <td>TOTAL AMOUNT :</td>
                            <td colspan="4" align="center">@ViewBag.calAm2</td>
                        </tr>

                    </table>

                </div>
                <div style="padding-left:35px; padding-right:35px;" class="table">
                    <table class="table table-sm table-borderless" style="font-size:15px;">
                        <tr>
                            <td>TRANFER BANK:</td>
                            <td style="width:320px;"></td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>ACC.NO. :</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>BRANCH :</td>
                            <td>Your very truly,</td>
                        </tr>
                        <tr>
                            <td>SWIFT CODE :</td>
                            <td><b>OGURA CLUTCH THAILAND CO.,LTD.</b></td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td></td>
                        </tr>

                        <tr>
                            <td>&nbsp;</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td style="border-bottom:1px solid #000000"></td>
                        </tr>
                    </table>

                </div>
            </div>
        </div>

        <div id="printableArea" style=" background-color:#ffffff ; border:1px solid #000000; padding:15px; display:none" class="col-8">
            <div style="padding-left:40px; padding-right:40px; margin-top:90px;">
                <div style="padding-left:35px; padding-right:35px;" class="table">
                    <table class="table table-sm table-borderless">
                        <tr style="font-size:35px; font-weight:600; ">
                            <td style="text-decoration-line:underline;">OGURA CLUTCH THAILAND CO.,LTD.</td>
                            <td><b id="textOriginalP" style="font-size:16px; "></b></td>
                        </tr>
                        <tr></tr>
                    </table>
                </div>
                <div style="padding-left:35px; padding-right:35px;" class="table">
@foreach (InvoiceCus cus in (InvoiceCus[])ViewBag.cus)
                {
                     <table class="table table-sm table-borderless" style="font-size:17px; margin-top:5px;">
                        <tr>    
                            <td rowspan="2" style="word-wrap:break-word; max-width:80px;">@cus.custName <br /> @cus.custAdress</td>
                            <td style="width:260px;"></td>
                            <td >No. :</td>
                            <td style="width:150px;"></td>
                        </tr>
                        <tr>
                           <td></td>
                            <td>Date :</td>
                            <td>@DateTime.Now.Date.ToString("dd-MM-yyyy")</td>
                        </tr>
                      
                        <tr>
                           
                            <td>ATTAN:@cus.custAdressi</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>

                        <tr style="font-size:14px;">
                            <td>Gentelman:</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr style="font-size:14px;">
                            <td>We are pleasef to enclose the following <br />each one price of invoice</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
}
                </div>


                <div style="padding-left:35px; padding-right:35px;" class="table">
                    <table class="table table-borderless table-sm" id="tableOP">
                        <thead style="border-bottom:1px solid #000000">
                            <tr>
                                <td align="center" colspan="4 "><h2>-Collection Statement -</h2></td>
                            </tr>
                            <tr style="font-size:16px;">

                                <td style="width:200px;">INVOICE NO</td>
                                <td align="center">INVOICE DATE</td>
                                <td align="center">AMOUNT (THB)  </td>
                                <td align="center">DUE DATE </td>

                            </tr>

                        </thead>
                        <tbody style="border-bottom:1px solid #000000">
                            @*@{ var a = 1;}*@

                            @foreach (Invoice v in (Invoice[])ViewBag.data)
                            {

                                <tr style="font-size:15px;">


                                    <td>@v.invoiceNo</td>
                                    <td align="center">@v.invoiceDate</td>
                                    <td align="right">@v.invoiceAm2Cal</td>
                                    <td align="center" onclick="editDate(this)">@v.invoiceDue</td>


                                </tr>
                                //a++;
                            }


                            @{
                                for (var i = ViewBag.datacount + 1; i <= 15; i++)
                                // for (var i = 1; i <= 15; i++)
                                {
                                    <tr style="font-size:15px; ">

                                        <td>&nbsp;</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>


                                    </tr>
                                }



                            }

                        </tbody>
                        <tr>

                            <td>TOTAL AMOUNT :</td>
                            <td colspan="4" align="center">@ViewBag.calAm2</td>
                        </tr>

                    </table>

                </div>
                <div style="padding-left:35px; padding-right:35px;" class="table">
                    <table class="table table-sm table-borderless" style="font-size:15px;">
                        <tr>
                            <td>TRANFER BANK:</td>
                            <td style="width:320px;"></td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>ACC.NO. :</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>BRANCH :</td>
                            <td>Your very truly,</td>
                        </tr>
                        <tr>
                            <td>SWIFT CODE :</td>
                            <td><b>OGURA CLUTCH THAILAND CO.,LTD.</b></td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td></td>
                        </tr>

                        <tr>
                            <td>&nbsp;</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td style="border-bottom:1px solid #000000"></td>
                        </tr>
                    </table>

                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="table-responsive" style="margin-top:5px;">
                <table class="table table-sm table-bordered">
                    <thead style="background-color:#5A6268; color:#ffffff">
                        <tr>
                            <td align="right" colspan="2">
                                <input type="button" onclick="printDiv('printableArea')" value="PRINT" class="btn btn-sm btn-success" style="border-radius:0px; color:#ffffff" />
                            </td>
                        </tr>
                        <tr>
                            <td>




                                <select class="form-control form-control-sm" id="selectOriginal" onchange="changeOriginal()" style="border-radius:0px;">
                                    <option selected>Form Contorl</option>
                                    <option value="ORIGINAL">ORIGINAL</option>
                                    <option value="COPY">COPY</option>
                                </select>
                            </td>

                        </tr>
                        <tr>

                            <td>
                                <select class="form-control form-control-sm" id="selectBank" onchange="changeBank()" style="border-radius:0px;">
                                    <option selected>Bank</option>
                                    <option value="Bangkok-01">Bangkok-01</option>
                                    <option value="Bangkok-02">Bangkok-02</option>

                                </select>
                            </td>
                        </tr>

                        @for (var i = 1; i < 8; i++)
                        {
                            <tr class="detec">

                                <td>

                                    &there4;
                                </td>
                                
                            </tr>
                        }
                    </thead>

                </table>


            </div>
        </div>
    </div>
</div>

<script>

    function printDiv(id) {
        var printContents = document.getElementById(id).innerHTML;
        var originalContents = document.body.innerHTML;
        document.body.innerHTML = printContents;
        window.print();
        document.body.innerHTML = originalContents;
    }


</script>

<script>

    function editCur(r) {

        var i = r.parentNode.rowIndex;

        var table = document.getElementById("tableOc");
        var tableP = document.getElementById("tableOP");

        var e = table.rows[i].cells[2].innerText;

        var al = prompt('Would you like to change currency?', e)

        var af = table.rows[i].cells[2].innerHTML = al;
        var changeDue = tableP.rows[i].cells[2].innerHTML = al;

    }
</script>

<script>

    function editDate(r) {

        var i = r.parentNode.rowIndex;

        var table = document.getElementById("tableOc");
        var tableP = document.getElementById("tableOP");

        var e = table.rows[i].cells[3].innerText;

        var al = prompt('Would you like to change currency?', e)

        var af = table.rows[i].cells[3].innerHTML = al;
        var changeDue = tableP.rows[i].cells[3].innerHTML = al;

    }
</script>
<script>

    function changeOriginal() {

        var formOri = $("#selectOriginal").val();

        $("#textOriginalP").text(formOri);
        $("#textOriginal").text(formOri);


    }
</script>



    <script>

    document.onkeydown = function (e) {
        // keycode for F5 function
        if (e.keyCode === 116) {
            return false;
        }
        if (e.Button == MouseButtons.Right) {
            return false;
        }

    };

    </script>

<script type="text/javascript">
    var message = "Function Disabled!";
    function clickIE4() {
        if (event.button == 2) {
            alert(message);
            return false;
        }
    }
    function clickNS4(e) {
        if (document.layers || document.getElementById && !document.all) {
            if (e.which == 2 || e.which == 3) {
                alert(message);
                return false;
            }
        }
    }
    if (document.layers) {
        document.captureEvents(Event.MOUSEDOWN);
        document.onmousedown = clickNS4;
    }
    else if (document.all && !document.getElementById) {
        document.onmousedown = clickIE4;
    }
    document.oncontextmenu = new Function("return false")
</script>  