@using ACCBILLING_NOTE.Models


<style>
    .scaled {
        transform: scale(0.8); /* Equal to scaleX(0.7) scaleY(0.7) */
    }

    #printableArea {
        font-family: 'Browallia New';
    }

    #textBank {
        width: 300px;
        word-break: normal;
    }
</style>
<div class="container" >

    <div class="row">

        <div class="col-12 d-flex justify-content-center mt-3">

            <div class="table col-10 " id="addT">
                <table class="table table-sm table-bordered table-hover table-striped">
                    
                    <thead class="text-center" style="background-color:#5A6268; color:#ffffff">
                        <tr style=" font-size:12px;">
                            <td colspan="3">
                                Customer
                                <select class="form-control form-control-sm" id="chaName" onchange="getname()" style="border-radius:0px;">

                                    <option value="0" selected></option>

                                    @foreach (InvoiceCus ov in (InvoiceCus[])ViewBag.cusname)
                                    {



                                        <option value="@ov.custName">@ov.custName</option>


                                    }

                                </select>
                            </td>
                            <td>
                                Month
                                <select class="form-control form-control-sm" id="monthSe" onchange="getname()" style="border-radius:0px;">
                                    <option value="01">01</option>
                                    <option value="02">02</option>
                                    <option value="03">03</option>
                                    <option value="04">04</option>
                                    <option value="05">05</option>
                                    <option value="06">06</option>
                                    <option value="07">07</option>
                                    <option value="08">08</option>
                                    <option value="09">09</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>

                                </select>
                            </td>
                            <td>
                                Year
                                <select class="form-control form-control-sm" id="yearSe" onchange="getname()" style="border-radius:0px;">
                                    <option value="2020">2020</option>
                                    <option value="2019">2019</option>
                                    <option value="2018">2018</option>
                                </select>
                            </td>
                        </tr>
                        <tr>

                            <td align="right" colspan="5">
                                <button type="button" class="btn btn-primary btn-sm r" onclick="createInvoice()" style="border-radius:0px" data-toggle="tooltip" data-placement="top" title="Create Billing Note with Domestic">Domestic</button>
                                <button type="button" class="btn btn-light btn-sm" onclick="createInvoiceEx()" style="border-radius:0px" data-toggle="tooltip" data-placement="top" title="Create Billing Note with Export">Export</button>

                            </td>
                        </tr>
                        <tr>
                            <th width="30px;" align="center"><input type="checkbox" name="name" value=" " id="selectAll" /></th>
                            <th width="30px;" align="center">#</th>
                            <th>Invoice No</th>
                            <th>Date</th>
                            <th>Due Date</th>

                        </tr>
                    </thead>
                    <tbody id="Tacl"></tbody>
                    @*@foreach (Invoice ih in (Invoice[])ViewBag.nameGet)
                    {
                        <tr>
                            <td><input type="checkbox" name="name" value="" /></td>
                            <td>@ih.invoiceNo</td>
                            <td>@ih.invoiceDate</td>
                            <td>@ih.invoiceDue</td>

                        </tr>
                    }*@

                </table>
            </div>
        </div>

            <div class="col-12 d-flex justify-content-end">


                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#staticBackdrop" style="display:none;" id="gO"></button>

            </div>
            <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog" style="background-color:transparent; margin-top:270px; border:none;">
                    <div class="modal-content" style="background-color:transparent;border:none;">
                        <div class="d-flex justify-content-center " style="background-color:transparent;border:none;">
                            <div class="spinner-grow text-primary" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                            <div class="spinner-grow text-secondary" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                            <div class="spinner-grow text-success" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                            <div class="spinner-grow text-danger" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                            <div class="spinner-grow text-warning" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                            <div class="spinner-grow text-info" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                            <div class="spinner-grow text-light" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                            <div class="spinner-grow text-dark" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

      
    
        <script>

            function getname() {

                var name = $("#chaName").val();
                var month = $("#monthSe").val();
                var year = $("#yearSe").val();

                var fileData = new FormData();
                fileData.append('name', name);
                fileData.append('month', month);
                fileData.append('year', year);



                $.ajax({
                    url: '/Home/Test',
                    type: "POST",
                    contentType: false,
                    processData: false,
                    data: fileData,
                    success: function (result) {
                        $("#Tacl tr").remove();
                        var item = '', rows, rowss;
                        $.each(result, function (i, item) {

                            rows = "<tr style='font-size:11px;'>" +
                                "<td align='center'><input type='checkbox' value=" + item.invoiceNo + " name='chkCreate'></td>" +
                                "<td  align='center'>" + (i + 1) + "</td>" +
                                "<td  align='center'>" + item.invoiceNo + "</td>" +
                                "<td  align='center'>" + item.invoiceDate + "</td>" +
                                "<td  align='center'>" + item.invoiceDue + "</td>";

                            rows += "</tr>";
                            $("#Tacl").append(rows);
                        });

                    },
                    error: function (err) {

                    }
                });
            }


        </script>

<script>

    $(document).ready(function () {


        $("#g").click();


    });
</script>
        <script>

            function createInvoice() {

               //$("#gO").click();

                var name = $("#chaName").val();
                var month = $("#monthSe").val();
                var year = $("#yearSe").val();



                var invoice = [];
                $.each($("input[name='chkCreate']:checked"), function () {
                    invoice.push("'" + $(this).val() + "'");
                });

               

                if (invoice.length > 0 && invoice.length <= 15) {

                    $("#gO").click();

                    var fileData = new FormData();
                    fileData.append('name', name);
                    fileData.append('month', month);
                    fileData.append('year', year);
                    fileData.append('invoice', invoice);

                    // alert(invoice+":"+name+":"+month+":"+year);


                    

                        $.ajax({
                            url: '/Home/GetOver',
                            type: "POST",
                            contentType: false,
                            processData: false,
                            data: fileData,
                            success: function (result) {

                                location.href = "@Url.Action("Index","Home")";

                            },
                            error: function (err) {

                            }
                        });

                    
                } else {

                    alert("Please select Invoice, but not exceed 15 Invoice.!!");
                }


             

         

            
            }
        </script>
<script>

    function createInvoiceEx() {


       
        var name = $("#chaName").val();
        var month = $("#monthSe").val();
        var year = $("#yearSe").val();



        var invoice = [];
        $.each($("input[name='chkCreate']:checked"), function () {
            invoice.push("'" + $(this).val() + "'");
        });


      
        if (invoice.length > 0 && invoice.length <= 15) {

            $("#gO").click();

        var fileData = new FormData();
        fileData.append('name', name);
        fileData.append('month', month);
        fileData.append('year', year);
        fileData.append('invoice', invoice);

        // alert(invoice+":"+name+":"+month+":"+year);


      

            $.ajax({
                url: '/Home/GetExport',
                type: "POST",
                contentType: false,
                processData: false,
                data: fileData,
                success: function (result) {

                    location.href = "@Url.Action("Export","Home")";

                },
                error: function (err) {

                }
            });

        
    } else {

            alert("Please select Invoice, but not exceed 15 Invoice.!!");
    }

         

            
    }
</script>

        <script>



            $("#selectAll").click(function () {
                $("input[type=checkbox]").prop('checked', $(this).prop('checked'));

            });

        </script>
